<div class="container add-student-container">
  <div>
    <mat-card>
      <h3 style="text-align: center">View Products Data</h3>
      <div>
        <p>First Name: {{productShell.name}}</p>
      </div>

      <div>
        <p>Last Name: {{productShell.make}}</p>
      </div>
      <div>
        <p>Age: {{productShell.price}}</p>
      </div>
      <!--      <div>-->
      <!--        <button mat-raised-button color="primary" (click)="update()">Update</button>-->
      <!--      </div>-->
    </mat-card>
  </div>
</div>
