<div class="container add-student-container">
  <div>
    <mat-card>
      <h3 style="text-align: center">View Students Data</h3>
      <div>
        <p>First Name: {{studentShell.firstName}}</p>
      </div>

      <div>
        <p>Last Name: {{studentShell.lastName}}</p>
      </div>
      <div>
        <p>Gender: {{studentShell.gender}}</p>
      </div>
      <div>
        <p>Age: {{studentShell.age}}</p>
      </div>
      <!--      <div>-->
      <!--        <button mat-raised-button color="primary" (click)="update()">Update</button>-->
      <!--      </div>-->
    </mat-card>
  </div>
</div>
