.nav {
  padding: 20px;
}

a:link {
  color: lightgray;
  text-decoration: none;
}

a:visited {
  color: lightgray;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:active {
  color: red;
  text-decoration: none;
}

