.edit-panel-container {
  width:800px;
  margin:0 auto;
  padding: 20px;
}

.para {
  padding: 14px;
}

.modal-dialog {
  width:800px;
  margin:0 auto;
  padding: 20px;
}

.disable:hover{
  cursor: not-allowed;
}
.disable:active{
  pointer-events: none;
}
mat-icon.disable {
  filter:opacity(0.5);
  color: red;
}
