<br/>
<div class="container all-data-container">
  <a mat-raised-button color="primary" routerLink="/add-student">Add Student</a>
</div>
<div class="container all-data-container">
  <table mat-table [dataSource]="allStudentsSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>Age</th>
      <td mat-cell *matCellDef="let element">{{ element.age }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/students-combo', element.id]">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="colorize"
          >
          </mat-icon>
        </a>
        <a [routerLink]="['/view-student', element.id]">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="remove_red_eye"
          ></mat-icon>
        </a>
        <mat-icon
          (click)="openDeleteModalStudent(element.id)"
          aria-hidden="false"
          aria-label="Example delete icon"
          fontIcon="delete"
        >
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedStudentColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedStudentColumns"></tr>
  </table>
</div>

<br/>

<div class="container all-data-container">
  <a mat-raised-button color="primary" routerLink="/add-product">Add Product</a>
</div>
<div class="container all-data-container">
  <table mat-table [dataSource]="allProductsSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="make">
      <th mat-header-cell *matHeaderCellDef>Make</th>
      <td mat-cell *matCellDef="let element">{{ element.make }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/products-combo', element.id]">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="colorize"
          >
          </mat-icon>
        </a>
        <a [routerLink]="['/view-product', element.id]">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="remove_red_eye"
          ></mat-icon>
        </a>
        <mat-icon
          (click)="openDeleteModalProduct(element.id)"
          aria-hidden="false"
          aria-label="Example delete icon"
          fontIcon="delete"
        >
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedProductsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedProductsColumns"></tr>
  </table>
</div>
